<div *ngIf="cargando" class="loading-overlay">
  <p-progressSpinner></p-progressSpinner>
</div>

<!-- Contenedor flex para centrar -->
<div class="flex flex-wrap justify-content-center gap-4 p-4">
  <div *ngFor="let product of products" class="flex">
    <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
      <ng-template #header>
        <p-galleria [value]="getImagesArray(product.imagenes, product.id)" [showItemNavigators]="true"
          [showThumbnails]="false" [circular]="true" [numVisible]="1" [containerStyle]="{ 'max-width': '640px' }">
          <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
          </ng-template>
        </p-galleria>

      </ng-template>

      <ng-template #title>
        {{ product.nombre }}
      </ng-template>

      <ng-template #subtitle>
        {{ product.descripcion }}

      </ng-template>

      <p>
        $ {{ product.precio }}
      </p>

      <ng-template #footer>
        <div class="flex gap-2 mt-3">

          <p-button label="Agregar al carrito" icon="pi pi-shopping-cart" variant="outlined" class="w-full" styleClass="w-full"
            (click)="addToCart(product)"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <p *ngIf="!products || products.length === 0" class="col-12 text-center text-gray-500">
    No hay productos disponibles
  </p>
</div>