<div class="grid">

    <div class="col-12 md:col-12">
        <!-- Botón para asociar producto a categoría -->
        <div class="flex justify-content-center pt-2">
            <p-button label="Guardar Kit" (click)="guardarKit()" icon="pi pi-plus" />
        </div>

        <p-card header="Detalles del Kit" class="mb-4">



            <p-floatLabel>
                <input pInputText type="text" [(ngModel)]="kit.nombre" name="nombre" id="nombre" required
                    class="w-full" />
                <label for="nombre">Nombre</label>
            </p-floatLabel>

            <p-floatLabel class="mt-4">
                <input pInputText type="text" [(ngModel)]="kit.descripcion" name="descripcion" id="descripcion" required
                    class="w-full" />
                <label for="descripcion">Descripción</label>
            </p-floatLabel>

            <div class="mt-4">
                <label>Disponible</label>
                <p-toggleButton [(ngModel)]="kit.disponible" name="disponible" onLabel="Sí" offLabel="No"
                    class="w-full" />
            </div>

        </p-card>


    </div>

    <!-- Columna derecha: Precio y carga de imagenes -->
    <div class="col-12 md:col-12">
        <p-card header="Categorías del Kit" class="mb-4">

            <div class="flex justify-content-center align-items-center gap-2">
                <p-floatlabel>
                    <input pInputText id="on_label" autocomplete="off" [(ngModel)]="categoria" name="categoria" />
                    <label for="on_label">Categoría</label>
                </p-floatlabel>

                <p-button (click)="guardarCategoria()" label="Agregar" styleClass="p-button-sm" />
                <p-button (click)="obtenerCategorias()" label="Actualizar" styleClass="p-button-sm" />

            </div>

        </p-card>
    </div>

    <div class="col-12 md:col-3">
        <p-card header="Agregar productos" class="mb-4">
            <!-- Seleccionar categoría ya creada -->
            <div class="flex justify-content-center mb-3">
                <p-dropdown name="categoria" [options]="categoriasDropdown" [(ngModel)]="categoriaSeleccionada"
                    placeholder="Selecciona una categoría" optionLabel="label" [autoDisplayFirst]="false"
                    [filter]="true" showClear="true">
                </p-dropdown>
            </div>

            <!-- Seleccionar producto -->
            <div class="flex justify-content-center mb-3">
                <p-dropdown name="producto" [options]="productosDropdown" [(ngModel)]="productoParaCategoria"
                    placeholder="Selecciona un producto" optionLabel="label" [filter]="true" showClear="true">
                </p-dropdown>
            </div>

            <div class="flex justify-content-center mb-3">
                <p-inputnumber placeholder="Selecciona una cantidad" [(ngModel)]="cantidad" inputId="minmax"
                    mode="decimal" [min]="0" [max]="100" />

            </div>



            <!-- Botón para asociar producto a categoría -->
            <div class="flex justify-content-center">
                <p-button label="Agregar producto a categoría" (click)="agregarProductoACategoriaSeleccionada()"
                    icon="pi pi-plus" />
            </div>
        </p-card>
    </div>


    <div class="col-12 md:col-9">
        <p-card header="Detalles del kit" class="mb-4">
            <div *ngFor="let categoria of kitJson.categorias" class="mb-3">


                <h5>{{ categoria.nombre }}</h5>

                <ul class="list-none p-0 m-0">
                    <li *ngFor="let producto of categoria.productos"
                        class="flex items-center justify-between gap-3 mb-3">

                        <div class="flex items-center gap-3">
                            <img [src]="getImagenProducto(producto.id)" alt="img" width="40" height="40"
                                class="rounded-full border border-gray-300" />

                            <span>
                                <strong>Producto:</strong> {{ getNombreProducto(producto.id) }} |
                                <strong>Cantidad:</strong> {{ producto.cantidad }}
                            </span>
                        </div>

                        <button class="p-button-sm p-button-danger"
                            (click)="eliminarProductoDeCategoria(categoria.nombre, producto.id)">
                            <i class="pi pi-trash"></i>
                        </button>
                    </li>
                </ul>


            </div>

        </p-card>
    </div>

    <div class="col-12 md:col-12">
        <p-card header="Cargar imagenes" class="mb-4">
            <!-- Cargar Imagenes -->
            <div class="col-12 md:col-12">
                <p-card header="Cargar Imagenes">
                    <div class="card">
                        <div class="card">
                            <p-toast></p-toast>
                            <p-fileupload name="file" [url]="'https://ladies-first.shop/Images/AgregarImagenesKit/-1'"
                                (onUpload)="onUpload($event)" [auto]="true" [multiple]="false" accept="image/*"
                                maxFileSize="3000000" mode="advanced">
                                <ng-template #empty>
                                    <div>Arrastra y suelta archivos para subirlos.</div>
                                </ng-template>
                            </p-fileupload>
                        </div>
                    </div>
                </p-card>
            </div>
        </p-card>
    </div>
  







</div>