<div class="flex justify-content-start flex-wrap gap-4">
    <div *ngFor="let kit of kits" class="p-2">
        <p-card [header]="kit.nombre" class="text-center">

            <div class="card flex justify-center gap-2">
                <p-toast />
                <p-confirmpopup />
                <p-button label="Editar" (onClick)="editarKit(kit.id)" rounded="true" />
                <p-button (onClick)="confirm2($event, kit.id)" label="Eliminar" rounded="true" severity="danger"
                    [outlined]="true" />

            </div>
        </p-card>
    </div>
</div>



<p-dialog header="Editar" *ngIf="kitEnEdicion" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">


    <div class="grid">

        <div class="col-12 md:col-12">
            <!-- Botón para asociar producto a categoría -->
            <div class="flex justify-content-center pt-2">
                <p-button label="Guardar Kit" (click)="guardarKit()" icon="pi pi-plus" />
            </div>

            <p-card header="Detalles del Kit" class="mb-4">
                <p-floatLabel variant="on">
                    <input pInputText type="text" [(ngModel)]="kitEnEdicion.nombre" name="nombre" id="nombre" required
                        class="w-full" />
                    <label for="nombre">Nombre</label>
                </p-floatLabel>

                <p-floatLabel variant="on" class="mt-4">
                    <input pInputText type="text" [(ngModel)]="kitEnEdicion.descripcion" name="descripcion"
                        id="descripcion" required class="w-full" />
                    <label for="descripcion">Descripción</label>
                </p-floatLabel>

                <p-floatLabel variant="on" class="mt-4">
                    <p-inputnumber [(ngModel)]="kitEnEdicion.precio" [showButtons]="true" inputId="stacked"
                        mode="currency" currency="MXN" />

                    <label>Precio</label>
                </p-floatLabel>

                <p-floatLabel variant="on" class="mt-4">
                    <p-inputnumber (onInput)="calcularDescuento()" [max]="100" inputId="integeronly" suffix="%"
                        [(ngModel)]="kitEnEdicion.descuento" />
                    <label>Descuento</label>
                </p-floatLabel>

                <p-floatLabel variant="on" class="mt-4">
                    <p-inputnumber [(ngModel)]="kitEnEdicion.precioConDescuento" [disabled]="true" inputId="stacked"
                        mode="currency" currency="MXN" />

                    <label>Precio Con Descuento</label>
                </p-floatLabel>

                <div class="mt-4">
                    <label>Disponible</label>
                    <p-toggleButton [(ngModel)]="kitEnEdicion.disponible" name="disponible" onLabel="Sí" offLabel="No"
                        class="w-full" />
                </div>
            </p-card>




            <!--imagenes-->

            <p-card header="Imágenes" class="mb-4">
                <div class="grid">
                    <div *ngFor="let image of kitEnEdicion.imagenesArray; let i = index">
                        <!-- Contenedor fijo -->
                        <div class="relative border-round inline-block p-2">
                            <!-- P-Image con object-fit: contain -->
                            <p-image [src]="apiUrl + 'uploads/kit_' + kitEnEdicion.id + '/' + image" alt="Image"
                                height="100rem"></p-image>

                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-sm absolute"
                                style="top:50%; left:50%; transform: translate(-50%, -50%);"
                                (click)="removeImage(i)"></button>
                        </div>
                    </div>
                </div>
            </p-card>




            <div class="col-12 md:col-12">
                <p-card>
                    <div class="card">
                        <div class="card">
                            <p-fileupload name="file" [url]="imageUploadsUrl + kitEnEdicion.id"
                                (onUpload)="onUpload($event)" [auto]="true" [multiple]="false" accept="image/*"
                                maxFileSize="3000000" mode="advanced">
                                <ng-template #empty>
                                    <div>Arrastra y suelta archivos para subirlos.</div>
                                </ng-template>
                            </p-fileupload>
                        </div>
                    </div>
                </p-card>
            </div>




            <!-- <div class="p-fluid pl-4">
                <h4>Productos Estáticos</h4>
                <div *ngFor="let prod of productosEstaticos; let i = index" class="p-grid mb-3">
                    <div class="col-12 md:col-5">
                        <p-dropdown [options]="catalogoProductos" optionValue="id" optionLabel="nombre"
                            [(ngModel)]="prod.IdProducto" [ngModelOptions]="{standalone: true}">
                        </p-dropdown>
                    </div>

                    <div class="col-12 md:col-4">
                        <p-inputNumber [(ngModel)]="prod.Cantidad" [ngModelOptions]="{standalone: true}"
                            placeholder="Cantidad" [useGrouping]="false">
                        </p-inputNumber>
                    </div>
                    <div class="col-12 md:col-3">
                        <p-button icon="pi pi-trash" severity="danger" (click)="eliminarEstatico(i)">
                        </p-button>
                    </div>
                </div>

                <p-button label="Agregar Producto Estático" icon="pi pi-plus" (click)="agregarEstatico()"
                    class="mb-4"></p-button>

                <h4 class="mt-4">Opciones de Selección</h4>
                <div *ngFor="let opcion of opcionesSeleccion; let i = index" class="mb-4">
                    <div class="field">
                        <p-floatLabel>
                            <input pInputText id="titulo{{i}}" [(ngModel)]="opcion.titulo"
                                [ngModelOptions]="{standalone: true}" />
                            <label for="titulo{{i}}">Título (Toallas, Tampones, etc.)</label>
                        </p-floatLabel>
                    </div>

                    <div *ngFor="let p of opcion.productos; let j = index" class="p-grid mb-2">
                        <div class="col-12 md:col-10">

                            <p-dropdown [options]="catalogoProductos" optionLabel="nombre" optionValue="id"
                                [(ngModel)]="p.ProductoId" [ngModelOptions]="{ standalone: true }">
                            </p-dropdown>



                            <p-inputNumber [(ngModel)]="p.Cantidad" [ngModelOptions]="{standalone: true}"
                                placeholder="Cantidad" [useGrouping]="false">
                            </p-inputNumber>

                        </div>
                        <div class="col-12 md:col-2">
                            <p-button icon="pi pi-trash" severity="danger" (click)="eliminarProductoOpcion(i, j)">
                            </p-button>
                        </div>
                    </div>

                    <p-button label="Agregar producto" icon="pi pi-plus" (click)="agregarProductoOpcion(i)"
                        class="mb-3"></p-button>
                    <p-divider></p-divider>
                </div>

                <p-button label="Agregar grupo de selección" icon="pi pi-plus-circle" (click)="agregarOpcion()"
                    class="mb-4"></p-button>

                <div class="mt-4 text-center">
                    <p-button type="submit" label="Guardar Kit" icon="pi pi-save" class="p-button-success"></p-button>
                </div>
            </div> -->





        </div>
    </div>
</p-dialog>